:root{

    --fuenteHeading: 'Kurale', serif;
    --fuenteParrafos: 'Kulim Park', sans-serif;

    --marron:#60534E;
    --rojo:#902733;
    --blanco:#ffffff;
    --negro:#000000;
    --gris:#E5E5E5;


}


html{
    box-sizing: border-box;
    font-size: 62.5%; /*1 rem = 10px*/
}


*, *:before, *:after{
    box-sizing: inherit;
}

body{
    margin: 0px;
    font-size: 1.6rem;
    line-height: 2;
}

/*Globales*/
.container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4{
    font-family: var(--fuenteHeading);
}



h1{
    font-style: 4.8rem;
}

h2{
    font-style: 4rem;
}

h3{
    font-style: 3.2rem;
}

h4{
    font-style: 2.8rem;
}

img{
    max-width: 100%;
}

button{
    cursor: pointer;
}


.header{
    
    background-color: var(--negro);
    color: var(--blanco);
    padding: 2rem 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 100px;
    

}

.header a{
    color: var(--blanco);
    
}


.logo-nav-container{
 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: var(--fuenteHeading);
}


.logo{
    letter-spacing: 8px;
    font-size: 2rem;

}

#imgLogo{
    align-self: flex-start;
    width: 70px;
    height: 70px;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li{
    display: inline-block;
    font-size: 18px;
}

.navigation ul li a{
    display: block;
    margin: 0 8px;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navigation ul li a:hover{
    background-color: rgb(73, 73, 73);
}

.containerRegister{
    position: absolute;
    text-align: center;
    background-image: url(../img/Container1.png);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.form-inner{
    position: relative;
    background-color: #242424;
    border-radius: 25px;
    top: 18%;
    left: 26%;
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
  
    height: 580px;
    width: 800px;
    font-family: var(--fuenteHeading);
    transition: all 0.2s;
}

.form-inner .logo h3{
    margin:0px;
    
}

.form-inner form .fields{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}


.form-inner form .field{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    height: 80px;
    width: 300px;
    margin-top: 20px;
    
}

.form-inner form .field label{
    
    letter-spacing: 0.5rem;
}


.form-inner form .field input, button{
    height: 60%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid lightgray;
    border-bottom-width: 2px; 
    transition: all 0.4s ease;
}



.form-inner form .field input:focus, button:focus{
    border-color: var(--rojo);

}

.form-inner form .pass-link{

    margin-top: 5px;

}

.form-inner form .signup-link{
    text-align: center;
    margin-top: 30px;
}


.form-inner form a {
    color: var(--rojo);
    text-decoration: none;
}

.form-inner form a:hover {
    text-decoration: underline;
}


form .field button{
    align-self: center;
    margin: 20px 0;
    height: 50px;
    width: 200px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    border: none;
    cursor: pointer;
    background: var(--rojo);
}

form .field button:hover{
    background-color: var(--marron);
    color: var(--blanco);
}



.error{
    background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;

}